body{
  background-image:url(https://www.desktopbackground.org/p/2015/08/23/999791_iphone-5-wallpapers-blue-circles_640x1136_h.jpg);
}
header div{
  background-color: red;
  height:30px;
  padding: 2px;
}
header div p{
  color: white;
  font-size: 10pt;
display: inline-block;
font-weight: bold;

}
#p1{
margin-left: 913px; 

}
#na{
  margin-top: 20px;
margin: 40px;
 
}
.inline{
  display: inline-block;
}
header div nav ul {
  color:white;
}